[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "==4.0.4"
attrs = "==26.1.0"
autopep8 = "==2.3.2"
blinker = "==1.9.0"
click = "~=8.1.0"
colorama = "==0.4.6"
dill = "==0.4.1"
flasgger = "==0.9.7.1"
flask = "==3.1.3"
iniconfig = "==2.3.0"
isort = "==8.0.1"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.6"
jsonschema = "==4.26.0"
jsonschema-specifications = "==2025.9.1"
markupsafe = "==3.0.3"
mccabe = "==0.7.0"
mistune = "==3.2.0"
packaging = "==26.0"
platformdirs = "==4.9.4"
pluggy = "==1.6.0"
pycodestyle = "==2.14.0"
pygments = "==2.20.0"
pylint = "==4.0.5"
pytest = "==9.0.2"
pyyaml = "==6.0.3"
referencing = "==0.37.0"
rpds-py = "==0.30.0"
six = "==1.17.0"
tomlkit = "~=0.13.0"
werkzeug = "==3.1.8"
python-semantic-release = "==10.5.3"
pipenv = "==2026.6.1"

[dev-packages]

[requires]
python_version = "3.14"
